{% extends "layout.html" %}

{% block content %}
<div class="aboutus">
    <p class="title"> О компании </p>
    <div class="aboutdescwrap">
        <p class="aboutdesc">Развозные грузовики — это самые массовые, компактные и лёгкие
            грузовые автомобили, как правило, с пониженной погрузочной высотой.
            Большая часть выпускаемых в мире лёгких грузовиков и фургонов относится
            к классу N1, то есть их полная масса не должна превышать 3,5 т (в США — до 4,54 т),
            а грузоподъёмность достигает 1,5—1,8 т. Часто грузовики такого типа оснащают
            цельнометаллическим кузовом типа фургон вагонной или полукапотной компоновки
            со сдвижными боковыми дверями грузового отсека и распашными задними. Кстати,
            именно на базе таких фургонов выполнено большинство современных моделей
            автобусов особо малого класса (M1 и М2), называемых также микроавтобусами.
            Американская разновидность развозных фургонов (преимущественно почтовых)
            со сдвижными дверями водительской кабины и увеличенной высотой кузова,
            приспособленных для быстрого входа-выхода экспедитора, называется мультистоп.</p>
        <img src="{{ url_for('static', filename='images/aboutus.svg') }}"/>
    </div>
    <div class="aboutusmore">

        <div>
            <p class="title">Универсальность</p>
            <p class="aboutdesc">Современные автомобили позволяют перевозить
                практически любые виды грузов, включая опасные и негабаритные.</p>
        </div>
        <div>
            <p class="title">От двери до двери</p>
            <p class="aboutdesc">Это самый мобильный вид перевозок, поскольку автомобильные
                дороги есть практически везде.</p>
        </div>
        <div>
            <p class="title">Надежность</p>
            <p class="aboutdesc">В отличие от, например, морских перевозок,
                возможные отклонения от сроков минимальны.</p>
        </div>
    </div>
    <div id="carouselExampleInterval" class="aboutusmore aboutslider carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="aboutitem">
                    <p class="title">Универсальность</p>
                    <p class="aboutdesc">Современные автомобили позволяют перевозить
                        практически любые виды грузов, включая опасные и негабаритные.</p>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="20000">
                <div class="aboutitem">
                    <p class="title">От двери до двери</p>
                    <p class="aboutdesc">Это самый мобильный вид перевозок, поскольку автомобильные
                        дороги есть практически везде.</p>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="30000">
                <div class="aboutitem">
                    <p class="title">Надежность</p>
                    <p class="aboutdesc">В отличие от, например, морских перевозок,
                        возможные отклонения от сроков минимальны.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
{% endblock content%}