{% extends "layout.html" %}

{% block content %}
<div class="container profile-edit">
    <h2 class="page-title">Профиль</h2>
    <div class="d-flex flex-row">
        <img class="rounded-circle account-img" src="{{ image_file }}" alt="">
        <div class="d-flex flex-column">
            <h2 class="fullname">{{ current_user.fullname }}</h2>
            <p class="email text-secondary mb-1">{{ current_user.email }}</p>
            <p class="text-secondary">{{ current_user.phone_number }}</p>
        </div>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="d-flex flex-column">
            <div class="d-flex flex-md-row flex-column">
                <div class="d-flex flex-column me-5">
                    <div class="form-group">
                        {{ form.fullname.label(class="form-control-label") }}

                        {% if form.fullname.errors %}
                        {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fullname.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.fullname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.phone_number.label(class="form-control-label") }}

                        {% if form.phone_number.errors %}
                        {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.phone_number(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}

                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.image.label(class="form-label") }}
                        {{ form.image(class="form-control") }}
                        {% if form.image.errors %}
                        {% for error in form.image.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content%}