{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column register create-post">
        <h2 class="mb-3 border-bottom pb-2">{{ legend }}</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.transport_type.label(class="form-label") }}
                {% if form.transport_type.errors %}
                {{ form.transport_type(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.transport_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.transport_type(class="form-select") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.city.label(class="form-label") }}
                {% if form.city.errors %}
                {{ form.city(class="form-select is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.city(class="form-select") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {% if form.description.errors %}
                {{ form.description(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.description(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-4 form-check form-switch">
                {{ form.available.label(class="form-check-label") }}
                {% if form.available.errors %}
                {{ form.available(class="form-check-input", checked="true") }}
                <div class="invalid-feedback">
                    {% for error in form.available.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.available(class="form-check-input", checked="true") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.image.label(class="form-label") }}
                {{ form.image(class="form-control") }}
                {% if form.image.errors %}
                {% for error in form.image.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary signin") }}
            </div>
        </form>
    </div>
</div>
{% endblock content%}