{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center searcher" style="background-image: url({{ url_for('static', filename='images/bg.jpg')}});">
    <div class="mainSearcher">
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        <div class="parameters">
            <select class="form-select" aria-label="Default select example">
                <option selected>Выберите город</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Свободные
                </label>
            </div>
            <div class="checkcon"><a href="#" id="findbtn">Найти</a></div>
        </div>
    </div>
</div>
<div class="distance">
    <h1>Дистанции между городами</h1>
    <div class="distancemain">
        <div class="distanceprim">
            <div class="from">
                <div id="A"><h1>A</h1></div>
                <form action="/action_page.php">
                    <label for="from">Куда?</label>
                    <input type="text" id="from" name="from" placeholder="Алматы">
                </form>
            </div>
            <div class="from">
                <div id="B"><h1>В</h1></div>
                <form action="/action_page.php">
                    <label for="from">Откуда?</label>
                    <input type="text" id="from" name="from" placeholder="">
                </form>
            </div>
            <a href="#" id="calcbtn">Рассчитать</a>
        </div>
        <img src="style/img/strelka.svg"/>
        <div class="calcmain">
            <div class="calc">
                <p>км</p>
            </div>
            <div class="calc sec">
                <p>ч/м</p>
            </div>
        </div>
    </div>
</div>
<div class="mobile container2">
    <h1>Ожидается приложение</h1>
    <p>Уже летом будет доступна версия мобильного приложение InGruzovik на платформах PlayMarket, AppStore</p>
    <img src="style/img/mobile.png">
</div>
<div class="review container2">
    <h1>Каждый отзыв важен для нас</h1>
    <div class="reviewWrap">
        <form>
            <input type="text" id="mail" name="mail" placeholder="Ваша почта">
        </form>
        <form>
            <input type="text" id="revForm" name="revForm" placeholder="Оставьте отзыв...">
        </form>
        <a href="#" id="calcbtn">Отправить</a>
    </div>
</div>
<div class="reviews container2">
    <h1>Отзывы</h1>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="slideritem">
                    <img id="pic" src="style/img/pic.svg"/>
                    <p class="name">Махаббат Журген</p>
                    <p class="date">2 февраля, 2020</p>
                    <img src="style/img/Stars.svg"/>
                    <p class="reviewtext">
                        Положительный отзыв – правильное вложение для
                        привлечения новых клиентов. 75% покупателей ориентируются
                        на комментарии людей, совершивших покупку. Поэтому будем
                        использовать потенциал инструмента, чтобы увеличить поток клиентов.
                    </p>
                    <img id="leftco" src="style/img/leftco.svg"/>
                    <img id="rightco" src="style/img/rightco.svg"/>
                    <img id="leftco2" src="style/img/left.svg"/>
                    <img id="rightco2" src="style/img/right.svg"/>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="20000">
                <div class="slideritem">
                    <img id="pic" src="style/img/pic.svg"/>
                    <p class="name">Махаббат Журген</p>
                    <p class="date">2 февраля, 2020</p>
                    <img src="style/img/Stars.svg"/>
                    <p class="reviewtext">
                        Положительный отзыв – правильное вложение для
                        привлечения новых клиентов. 75% покупателей ориентируются
                        на комментарии людей, совершивших покупку. Поэтому будем
                        использовать потенциал инструмента, чтобы увеличить поток клиентов.
                    </p>
                    <img id="leftco" src="style/img/leftco.svg"/>
                    <img id="rightco" src="style/img/rightco.svg"/>
                    <img id="leftco2" src="style/img/left.svg"/>
                    <img id="rightco2" src="style/img/right.svg"/>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>
{% endblock content%}