<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgetPassword.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% if title %}
    <title>Pitak - {{ title }}</title>
    {% else %}
    <title>Pitak</title>
    {% endif %}
</head>
<body>
<div class="header navbar navbar-expand-lg navbar-dark pb-0 pt-0">
    <div class="container">
        <div class="d-flex justify-content-between flag">
            <a href="{{ url_for('posts.poster') }}" class="navbar-brand"><img
                    src="{{ url_for('static', filename='images/logo.svg') }}"
                    class="logo"
                    alt=""></a>
            <div class="d-flex d-md-none langwrap justify-content-end">
                <select class="form-select lang" aria-label="Default select example">
                    <option selected value="RU">RU &nbsp🇷🇺</option>
                    <option value="KZ">KZ &nbsp🇰🇿</option>
                </select>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-between align-items-center w-100">
                <li class="nav-item me-md-5 me-0 mb-3 mb-md-0 mt-3 mt-md-0">
                    <a href="">НОВОСТИ</a>
                </li>
                <li class="nav-item me-md-auto me-0 mb-3 mb-md-0">
                    <a href="{{ url_for('main.about') }}">О НАС</a>
                </li>
                <li class="nav-item d-md-block d-none">
                    <div class="d-flex langwrap justify-content-end w-100">
                        <select class="form-select w-100" aria-label="Default select example">
                            <option selected value="RU">RU &nbsp🇷🇺</option>
                            <option value="KZ">KZ &nbsp🇰🇿</option>
                        </select>
                    </div>
                </li>
                <li class="nav-item ms-md-5 ms-0">
                    <div class="buttons d-flex flex-md-row flex-column">
                        {% if current_user.is_authenticated %}
                        <div class="accordion mb-3 mb-md-0 position-relative" id="accordion-menu">
                            <div class="accordion-item position-relative">
                                <h2 class="accordion-header position-relative" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        {{ current_user.fullname }}
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse position-absolute w-100" aria-labelledby="headingOne"
                                     data-bs-parent="#accordion-menu">
                                    <div class="accordion-body d-flex flex-column w-100">
                                        <a href="{{ url_for('users.account') }}">Профиль</a>
                                        {% if current_user.transporter == 1 %}
                                        <a href="{{ url_for('posts.my_posts') }}">Мои объявления</a>
                                        {% endif %}
                                        <!--                        <a href="">Избранные</a>-->
                                        <a href="{{ url_for('users.logout') }}">Выйти</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if current_user.transporter == 1 %}
                        <a href="{{ url_for('posts.new_post') }}" class="btn btn-primary add-post ms-md-4 ms-0 w-100 mb-3 mb-md-0">Подать
                            объявление</a>
                        {% endif %}
                        {% else %}
                        <a class="mb-3 mb-md-0" href="{{ url_for('users.login') }}" id="signin">Войти</a>
                        <a class="mb-3 mb-md-0 ms-md-4 ms-0" href="{{ url_for('users.register') }}" id="signup">Зарегестрироваться</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<div class="container2 header d-flex justify-content-between">-->
<!--    <a href="javascript:void(0);" onclick="myFunction()" class="mobmenu" id="mobmenu">-->
<!--        <img src="{{ url_for('static', filename='images/menu.svg')}}"/>-->
<!--        <img src="{{ url_for('static', filename='images/menu.svg')}}"/>-->
<!--        <img src="{{ url_for('static', filename='images/menu.svg')}}"/>-->
<!--    </a>-->
<!--    <a href="{{ url_for('posts.poster') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo"-->
<!--                                                 alt=""></a>-->
<!--    <ul>-->
<!--        <li><a href="">НОВОСТИ</a></li>-->
<!--        <li><a href="{{ url_for('main.about') }}">О НАС</a></li>-->
<!--    </ul>-->
<!--    <div class="d-flex langwrap justify-content-end">-->
<!--        <select class="form-select" aria-label="Default select example">-->
<!--            <option selected value="RU">RU &nbsp🇷🇺</option>-->
<!--            <option value="KZ">KZ &nbsp🇰🇿</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <div class="buttons">-->
<!--        {% if current_user.is_authenticated %}-->
<!--        <div class="accordion" id="accordion-menu">-->
<!--            <div class="accordion-item">-->
<!--                <h2 class="accordion-header" id="headingOne">-->
<!--                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                        {{ current_user.fullname }}-->
<!--                    </button>-->
<!--                </h2>-->
<!--                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"-->
<!--                     data-bs-parent="#accordion-menu">-->
<!--                    <div class="accordion-body d-flex flex-column">-->
<!--                        <a href="{{ url_for('users.account') }}">Профиль</a>-->
<!--                        {% if current_user.transporter == 1 %}-->
<!--                        <a href="{{ url_for('posts.my_posts') }}">Мои объявления</a>-->
<!--                        {% endif %}-->
<!--                        &lt;!&ndash;                        <a href="">Избранные</a>&ndash;&gt;-->
<!--                        <a href="{{ url_for('users.logout') }}">Выйти</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% if current_user.transporter == 1 %}-->
<!--        <a href="{{ url_for('posts.new_post') }}" class="btn btn-primary" style="width: 160px; height: 40px">Подать-->
<!--            объявление</a>-->
<!--        {% endif %}-->
<!--        {% else %}-->
<!--        <a href="{{ url_for('users.login') }}" id="signin">Войти</a>-->
<!--        <a href="{{ url_for('users.register') }}" id="signup">Зарегестрироваться</a>-->
<!--        {% endif %}-->
<!--    </div>-->
<!--</div>-->
<div class="topnav" id="myTopnav">
    <div class="logo"><img src="style/img/logo.svg"></img></div>
    <hr>
    <ul>
        <li href="#">НОВОСТИ</li>
        <li href="#">О НАС</li>
    </ul>
    <a href="#" id="signin">Войти</a>
    <a href="signup.html" id="signup">Зарегестрироваться</a>

</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} mb-0">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}

{% endblock %}
<footer class="container2">
    <div class="footerContent container">
        <a href="{{ url_for('main.about') }}">О НАС</a>
        <a href="#">НОВОСТИ</a>
        <div class="contacts">
            <p>КОНТАКТЫ</p>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-geo-alt"
                     viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <p>г. Алматы, Бостандыкский район, улица Ауэзова 179а</p>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                     class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
                <p>+7 707 402 00 24, пн-пт (09:00 – 18:00)</p>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                     class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
                <p>ingruzovik@gmail.com</p>
            </div>
        </div>
    </div>
    <hr>
    <p>© 2020, INGRUZOVIK</p>
</footer>
<!--<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>-->
<script src="https://unpkg.com/imask"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>