{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column register">
        <h2 class="mb-3 border-bottom pb-2">Авторизация</h2>
        <form  method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
             <div class="mb-3">
                {{ form.password.label(class="form-label") }}
               {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-check mb-3">
                {{ form.remember(class="form-check-input remember") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <div class="d-flex justify-content-end mb-3">
                <a href="{{ url_for('users.reset_request') }}">Забыли пароль?</a>
            </div>
           <div class="mb-3">
                {{ form.submit(class="btn btn-primary signin") }}
            </div>
            <div class="border-top pt-2">
                <small class="text-muted">
                    Нет учетной записи? <a class="ml-2" href="{{ url_for('users.register') }}">Зарегестрироваться</a>
                </small>
            </div>
        </form>
    </div>
</div>
{% endblock content%}