{% extends "layout.html" %}

{% block content %}
<div class="container d-flex flex-column posts justify-content-between">
    <h2>Объявления</h2>
    {% if posts|length > 0 %}
    {% for post in posts %}
    <div class="d-flex flex-column post">
        <div class="d-flex flex-md-row flex-column">
            <div class="d-flex flex-column _left">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-date">Дата публикации: <span>{{ post.date_posted.strftime('%d.%m.%Y') }}</span></p>
                <p class="city">Город: <span>{{ post.city }}</span></p>
                <p class="city">Тип транспорта: <span>{{ post.transport_type }}</span></p>
                {% if post.available == 1 %}
                <div class="d-flex flex-row align-items-center mb-3">
                    <p class="mb-0">Свободен</p>
                    <span class="green-dot bg-success"></span>
                </div>
                {% else %}
                <div class="d-flex flex-row align-items-center mb-3">
                    <p class="mb-0">Занят</p>
                    <span class="red-dot bg-danger"></span>
                </div>
                {% endif %}
<!--                <p class="fav">Добавить в избранные: <span>♡ ❤️</span></p>-->
            </div>
            <div class="d-flex post-image">
                <img class="d-flex" src="static/post_pics/{{ post.image_file }}" alt="">
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-primary btn-more">подробнее</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    Сейчас у вас нет активных объявлений
    {% endif %}
</div>
{% endblock content%}