{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center searcher"
     style="background-image: url({{ url_for('static', filename='images/bg.jpg')}});">
    <div class="mainSearcher">
        <form action="" method="GET">
            <input type="text" class="form-control" placeholder="Найти" name="q" value="{{ request.args.get('q', '') }}"
                   aria-label="default input example">
            <div class="d-flex justify-content-between flex-md-row flex-column parameters">
                <select class="d-flex align-self-md-center align-self-start form-select mt-0 p-0 ms-md-0 ms-2 mb-md-0 mb-2" aria-label="Default select example">
                    <option selected>Выберите город</option>
                    <option value="Алматы">Алматы</option>
                    <option value="Нур-Султан">Нур-Султан</option>
                    <option value="Тараз">Тараз</option>
                    <option value="Актау">Актау</option>
                    <option value="Актобе">Актобе</option>
                    <option value="Караганда">Караганда</option>
                    <option value="Павлодар">Павлодар</option>
                    <option value="Усть-Каменогорск">Усть-Каменогорск</option>
                    <option value="Семей">Семей</option>
                    <option value="Петропавловск">Петропавловск</option>
                    <option value="Кызылорда">Кызылорда</option>
                    <option value="Атырау">Атырау</option>
                    <option value="Уральск">Уральск</option>
                    <option value="Талдыкорган">Талдыкорган</option>
                    <option value="Кокшетау">Кокшетау</option>
                </select>
                <div class="d-flex align-self-md-center align-self-start form-check ms-md-0 ms-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label ms-2" for="flexCheckDefault">
                        Свободные
                    </label>
                </div>
                <div class="d-flex align-self-md-center align-self-end checkcon">
                    <button class="btn btn-primary" type="submit">Найти</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container d-flex flex-column posts">
    <h2>Объявления</h2>
    {% if pages.items|length > 0 %}
    {% for post in pages.items %}
    <div class="d-flex flex-column post">
        <div class="d-flex flex-md-row flex-column">
            <div class="d-flex flex-column _left">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-date">Дата публикации: <span>{{ post.date_posted.strftime('%d.%m.%Y') }}</span></p>
                <p class="city">Город: <span>{{ post.city }}</span></p>
                <p class="city">Тип транспорта: <span>{{ post.transport_type }}</span></p>
                {% if post.available == 1 %}
                <div class="d-flex flex-row align-items-center mb-3">
                    <p class="mb-0">Свободен</p>
                    <span class="green-dot bg-success"></span>
                </div>
                {% else %}
                <div class="d-flex flex-row align-items-center mb-3">
                    <p class="mb-0">Занят</p>
                    <span class="red-dot bg-danger"></span>
                </div>
                {% endif %}
<!--                <p class="fav">Добавить в избранные: <span>♡ ❤️</span></p>-->
            </div>
            <div class="d-flex post-image">
                <img class="d-flex" src="static/post_pics/{{ post.image_file }}" alt="">
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-primary btn-more">подробнее</a>
        </div>
    </div>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination">
            {% if not pages.has_prev %}
            <li class="page-item disabled">
                <a href="./?page={{ pages.prev_num }}" class="page-link disabled" aria-disabled="true"
                   style="color: #6c757d !important">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="./?page={{ pages.prev_num }}" class="page-link" aria-disabled="true">&laquo;</a>
            </li>
            {% endif %}

            {% for page in pages.iter_pages() %}
            {% if page == pages.page %}
            <li class="page-item active">
                <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if not pages.has_next %}
            <li class="page-item disabled">
                <a href="./?page={{ pages.next_num }}" class="page-link disabled" aria-disabled="true"
                   style="color: #6c757d !important">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="./?page={{ pages.next_num }}" class="page-link" aria-disabled="true">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    Сейчас нет активных объявлений
    {% endif %}
</div>
<div class="distance">
    <h1>Дистанции между городами</h1>
    <div class="distancemain">
        <div class="distanceprim">
            <div class="from">
                <div class="d-flex justify-content-center align-items-center" id="A"><h1>A</h1></div>
                <form action="/action_page.php">
                    <label for="from">Куда?</label>
                    <input type="text" id="from" name="from" placeholder="Алматы">
                </form>
            </div>
            <div class="from">
                <div class="d-flex justify-content-center align-items-center" id="B"><h1>В</h1></div>
                <form action="/action_page.php">
                    <label for="from">Откуда?</label>
                    <input type="text" id="from" name="from" placeholder="">
                </form>
            </div>
            <a href="#" id="calcbtn">Рассчитать</a>
        </div>
        <img src="{{ url_for('static', filename='images/strelka.svg') }}"/>
        <div class="calcmain">
            <div class="calc">
                <p>км</p>
            </div>
            <div class="calc sec">
                <p>ч/м</p>
            </div>
        </div>
    </div>
</div>
<div class="mobile container2">
    <h1>Ожидается приложение</h1>
    <p>Уже летом будет доступна версия мобильного приложение InGruzovik на платформах PlayMarket, AppStore</p>
    <img src="{{ url_for('static', filename='images/mobile.png') }}">
</div>
<div class="review container2 px-5">
    <h1>Каждый отзыв важен для нас</h1>
    <div class="reviewWrap">
        <form>
            <input type="text" id="mail" name="mail" placeholder="Ваша почта">
        </form>
        <form>
            <input type="text" id="revForm" name="revForm" placeholder="Оставьте отзыв...">
        </form>
        <a href="#" id="calcbtn">Отправить</a>
    </div>
</div>
<div class="reviews container2">
    <h1>Отзывы</h1>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="slideritem">
                    <img id="pic" src="{{ url_for('static', filename='images/pic.svg') }}"/>
                    <p class="name">Махаббат Журген</p>
                    <p class="date">2 февраля, 2020</p>
                    <img src="{{ url_for('static', filename='images/Stars.svg') }}"/>
                    <p class="reviewtext">
                        Положительный отзыв – правильное вложение для
                        привлечения новых клиентов. 75% покупателей ориентируются
                        на комментарии людей, совершивших покупку. Поэтому будем
                        использовать потенциал инструмента, чтобы увеличить поток клиентов.
                    </p>
                    <img id="leftco" src="{{ url_for('static', filename='images/leftco.svg') }}"/>
                    <img id="rightco" src="{{ url_for('static', filename='images/rightco.svg') }}"/>
                    <img id="leftco2" src="{{ url_for('static', filename='images/left.svg') }}"/>
                    <img id="rightco2" src="{{ url_for('static', filename='images/right.svg') }}"/>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="10000">
                <div class="slideritem">
                    <img id="pic" src="{{ url_for('static', filename='images/pic.svg') }}"/>
                    <p class="name">Махаббат Журген</p>
                    <p class="date">2 февраля, 2020</p>
                    <img src="{{ url_for('static', filename='images/Stars.svg') }}"/>
                    <p class="reviewtext">
                        Положительный отзыв – правильное вложение для
                        привлечения новых клиентов. 75% покупателей ориентируются
                        на комментарии людей, совершивших покупку. Поэтому будем
                        использовать потенциал инструмента, чтобы увеличить поток клиентов.
                    </p>
                    <img id="leftco" src="{{ url_for('static', filename='images/leftco.svg') }}"/>
                    <img id="rightco" src="{{ url_for('static', filename='images/rightco.svg') }}"/>
                    <img id="leftco2" src="{{ url_for('static', filename='images/left.svg') }}"/>
                    <img id="rightco2" src="{{ url_for('static', filename='images/right.svg') }}"/>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>
{% endblock content%}