{% extends "layout.html" %}

{% block content %}
<div class="container mt-4 detailed-post">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt=""/>
            <div class="d-flex flex-md-row flex-column">
                <p class="fullname me-md-5 mb-md-0 mb-2">{{ post.author.fullname }}</p>
                <p class="phone-number me-md-5 mb-md-0 mb-2">Номер: <a href="tel:{{ post.author.phone_number }}">{{
                    post.author.phone_number }}</a></p>
                <p class="email">E-mail: <a href="">{{ post.author.email }}</a></p>
            </div>
        </div>
        <div class="d-flex flex-md-row flex-column justify-content-between mt-4">
            <div class="d-flex flex-column left mb-md-0 mb-4">
                <h2 class="title">{{ post.title }}</h2>
                <div class="d-flex flex-row mt-3">
                    <a class="me-4 transport-type">{{ post.transport_type }}</a>
                    <a class="city">{{ post.city }}</a>
                </div>
                <p class="description mt-4">
                    Описание
                    <br>
                    <br>
                    <span>
                        {{ post.description }}
                    </span>
                </p>
                <div class="d-flex flex-row mt-4 justify-content-between info">
                    <p>Просмотров: <span>{{ post.views }}</span></p>
                    <p class="text-md-start text-end">Дата публикации:
                        <span>{{ post.date_posted.strftime('%d.%m.%Y') }}</span></p>
                </div>
                {% if post.author == current_user %}
                <div class="d-flex flex-row justify-content-md-end update-delete mt-4">
                    <a href="{{ url_for('posts.update_my_post', post_id=post.id) }}"
                       class="btn update btn-outline-warning">Редактировать</a>
                    <button type="button" class="btn btn-outline-danger ms-4 delete" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Удалить
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="d-flex right align-items-center">
                <img src="/static/post_pics/{{ post.image_file }}" alt="">
            </div>
        </div>
        <div class="d-flex flex-column comment mt-4">
            <p class="comment">Комментарий</p>
            <form action="" method="POST">
                <div class="form-floating">
                    <textarea class="form-control" name="message" placeholder="Leave a comment here"
                              id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Оставьте комментарий здесь</label>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary send">Отправить</button>
                </div>
            </form>
        </div>
        <div class="d-flex flex-column w-50">
            {% for comment in comments %}
            <div class="d-flex flex-column border-bottom pb-3">
                <div class="d-flex flex-row align-items-center">
                    <img class="rounded-circle article-img"
                         src="{{ url_for('static', filename='profile_pics/' + comment.image_file) }}" alt=""/>
                    <div class="d-flex flex-column">
                        <p class="comment-name mb-2">{{ comment.fullname }}</p>
                        <p class="comment-message">{{ comment.message }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удалить объявление?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <form action="{{ url_for('posts.delete_my_post', post_id=post.id) }}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Удалить">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}