{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column register">
        <h2 class="mb-3">Регистрация</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-check mb-3 border-top pt-2">
                {{ form.transporter(class="form-check-input transporter") }}
                {{ form.transporter.label(class="form-check-label transporter") }}
            </div>
            <div class="mb-3">
                {{ form.fullname.label(class="form-label") }}

                {% if form.fullname.errors %}
                    {{ form.fullname(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fullname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fullname(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.phone_number.label(class="form-label") }}
              {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone_number(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
               {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
              {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input terms" required type="checkbox" value="" id="terms">
                <label class="form-check-label terms" for="terms">
                    Я принимаю условия сайта
                </label>
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary signup") }}
            </div>
            <div class="border-top pt-2">
                <small class="text-muted">
                    У вас уже есть учетная запись? <a class="ml-2" href="{{ url_for('users.login') }}">Авторизоваться</a>
                </small>
            </div>
        </form>
    </div>
</div>
{% endblock content%}