{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column register">
        <h2 class="mb-3 border-bottom pb-2">Восстановление пароля</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary signin") }}
            </div>
        </form>
    </div>
</div>
{% endblock content%}