{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>У вас нет на это разрешения (403)</h1>
    <p>Пожалуйста, проверьте свою учетную запись и повторите попытку</p>
</div>
{% endblock content %}