{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Что-то пошло не так (500)</h1>
    <p>Мы исправляем некоторые проблемы с нашей стороны. Пожалуйста, повторите попытку в ближайшем будущем</p>
</div>
{% endblock content %}