body {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
}

.container2 {
    padding: 3rem 0 !important;
}

.container {
    padding: 20px 2rem !important;

}

.header {
    background-color: #1D1D1F;
    vertical-align: auto;
    text-align: center;
    align-items: center;
}

div {
    padding: 0;
}

.mobmenu {
    display: none;
}

.header > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 20%;
    margin-left: -3rem;
    margin: 0;
}

.header > ul > li {
    color: white;
    font-family: 'SF Pro Text';
    font-size: 14px;
    font-weight: 400px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: 'SF Pro Text';
    font-weight: 100;
    font-size: 14px;
    margin: 0;
}

.dropbtn > img {
    margin-left: 2px;
    margin-bottom: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border: 1px;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'SF Pro Text';
    font-weight: 100;
    font-size: 13px;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropAc {
    padding: 0 40px !important;
}

.dropAc > .dropbtn {
    margin-top: 7px !important;
}

.dropAc > .dropdown-content {
    min-width: 170px !important;
    margin-top: 11px;
    margin-left: -45px;
    background-color: rgba(255, 255, 255, 0.5) i !important;
    opacity: 90%;
}

.dropAc > .dropdown-content > a {
    text-align: center !important;
}

.topnav {
    display: none;
}

.topnav > .logo {
    width: -webkit-fill-available;
}

.topnav > .logo > img {
    float: right;
}

.topnav > a {
    display: inline-block;
}

.topnav > #signup {
    margin-top: 1rem;
}

.topnav > hr {
    height: 0px;
    border: none;
    border-top: 1px solid white;
    margin-top: 3.2rem;
}

.topnav > ul {
    list-style-type: none;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    margin-top: 2rem;
}

.topnav > ul > li {
    text-align: left;
    color: white;
    font-family: 'SF Pro Text';
    font-size: 10px;
    font-weight: 400px;
    padding-bottom: 1rem;
}

.mobmenu {
    display: none;
}

#signin {
    padding: 10px 60px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
}

#signup {
    color: white;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
}

.button2 {
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
}

.button1 {
    padding: 10px 60px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
}

.button2:hover {
    color: white;
}

.button1:hover {
    color: black;
}

.langwrap {
    width: 20% !important;
}

.langwrap > .language {
    margin-top: 5px;
    float: right;
}

.signupform {
    align-items: center;
    margin: 0 auto;
    width: 30%;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    padding: 1rem 4rem;
    margin-top: 8rem;
    padding-bottom: 4.5rem;
    margin-bottom: 7rem;
}

#adForm {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.successForm {
    align-items: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 5px;
    padding: 1rem 4rem;
    margin-top: 8rem;
    padding-bottom: 4.5rem;
    margin-bottom: 7rem;
    text-align: center;
}

.successForm > p {
    font-family: var(--font-fam);
    font-weight: 500;
    font-size: 30px;
}

.goBack {
    width: 70%;
    margin: 1.2rem auto;
}

.successForm > img {
    margin: 0 auto;
}

.signupform > p {
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-fam);
    margin-top: 1.2rem;
}

input[type=text], select {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0.8rem 1rem;
    padding-right: 0rem;
    font-size: 14px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    font-family: 'SF Pro Text';
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

textarea {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0.8rem 1rem;
    padding-right: 0rem;
    font-size: 14px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    font-family: 'SF Pro Text';
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 4rem;
}

#recp {
    margin-top: -0.6rem;
    font-size: 12px;
    font-family: var(--font-fam);
    font-weight: 100;
    color: #CCCCCC;
}

::placeholder {
    font-family: 'SF Pro Text';
    color: #CCCCCC;
    font-size: 400;
    font-size: 14px;
    margin: 0 auto;
    margin-left: 0.8rem;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #F1F1F1;
}

.formtext {
    font-family: var(--font-fam);
    font-weight: 500;
    font-size: 14px !important;
    color: var(--primary-dark)
}

.accept {
    margin-top: 0.7rem;
    font-size: 14px;
    font-family: var(--font-fam);
    color: black;
}

.accept > a {
    color: black;
    margin-top: 10px;
}

#signupform {
    margin-top: 1.2rem;
    color: white;
    padding: 10px 10px;
    width: webkit-fit-available;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 14px;
}

input {
    border: none;
}

input:focus, textarea:focus {
    border: 1px solid #4B80B3;
    outline-offset: 0px;
    outline: none;
}

a {
    text-decoration: none;
}

.uploaded {
    width: 50%;
}

.uploadedBtn {
    width: 50%;
}

footer {
    background-color: var(--primary-dark);
    text-align: center;
}

footer > p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    font-family: 'SF Pro Text';
    margin-top: 2rem;
}

.footerContent {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

footer > hr {
    height: 0px;
    border: none;
    border-top: 1px solid white;
    margin-top: 2rem;
}

.contacts > div {
    display: flex;
}

.contacts > p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    font-family: 'SF Pro Text';
}

.contacts > div > p {
    color: white;
    font-size: 14px;
    font-weight: 200;
    font-family: 'SF Pro Text';
    margin-left: 5px;
}

.accept {
    text-align: right;
}

.mainprof {
    margin: 0 auto;
    width: 80%;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.mainprof > p {
    font-size: 20px;
    font-family: var(--font-fam);
    font-weight: 700;
}

.divprof {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    padding: 7px 25px;
    margin-top: 1rem;
}

.divprof > p {
    font-size: 14px;
    font-family: var(--font-fam);
}

.divdrop {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgb(51 51 51 / 4%), 0px 4px 16px rgb(51 51 51 / 8%);
    border-radius: 5px;
    padding: 1.5rem 4rem;
    padding-bottom: 8rem;
    margin-top: 1rem;
}

.divdrop > div {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 0.5rem;
}

.divdrop > div > div {
    width: 65%;
}

.visible {
    display: block !important;
}

.unvisible {
    display: none !important;
}

.graytext {
    font-family: var(--font-fam);
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: -10px;
}

.picdiv {
    display: block !important;

}

.changebtn {
    width: 65%;
    float: right;
    margin-top: -0.7rem;
}

.changediv {
    display: block !important;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 2px dashed #CCCCCC;
    position: relative;
    border-radius: 5px;
    width: 100px !important;
    height: 100px;
}

.image-dropping,
.image-upload-wrap:hover {
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
    margin-top: 25px;
}

.drag-text p {
    font-weight: 500;
    font-size: 15, 85px;
    font-family: var(--font-fam);
    color: #CCCCCC;
    margin-top: 0px;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.picdiv > a {
    float: left !important;
    margin-top: -0.5rem;
}

.profform > form > input {
    padding: 0.6rem 1rem !important;
}

.changed {
    padding: 1rem 5rem;
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 1rem;
}

.mainadvt {
    width: 60%;
}

.advt {
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.advt > div > p {
    color: #4B80B3;
    font-family: var(--font-fam);
    font-size: 14px;
}

.advt > div > p > span {
    color: black;
    margin-left: 5px;
}

.containercheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containercheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    margin-left: 7px;
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #D3DDE7;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.containercheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containercheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containercheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containercheck .checkmark:after {
    left: 3px;
    top: 3px;
    width: 5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containercheck {
    color: #4B80B3;
    font-family: 'SF Pro Text';
    font-size: 14px;
    width: 93px;
    justify-content: space-between;
    display: flex;
}

.advtbtn {
    padding: 10px 10px;
    border: 1px solid #4B80B3;
    border-radius: 5px;
    color: black;
    font-family: var(--font-fam);
    font-size: 14px;
    font-weight: 500;
}

.checkcon {
    width: min-content;
    float: left;
    display: flex;
}

.btnwrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.desc {
    width: 55%;
}

#d1 {
    padding: 10px 18px;
}

#d2 {
    display: none;
}

#p1 {
    margin-top: 30px;
}

#im2 {
    display: none;
}

.namedesc {
    display: flex;
    justify-content: space-between;
}

.namedesc > p {
    font-family: var(--font-fam);
    font-size: 14px;
    margin-left: 5px;
    color: #4B80B3;
}

.namedesc > p > span {
    font-family: var(--font-fam);
    font-size: 14px;
    color: black;
}

.descdiv {
    width: 50%;
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 2rem 3rem;
}

.descbtnwrap {
    padding-top: 1rem !important;
    width: 65%;
}

.descbtn {
    padding: 10px 40px !important;
}

.desctitle {
    font-size: 30px !important;
    font-family: var(--font-fam);
    color: var(--primary-blue);
    font-weight: 600;
    margin: 0;
}

.nameprof > p {
    font-size: 14px;
    font-family: var(--font-fam);
    font-weight: 600;
    color: black !important;
    margin-left: 1rem;
}

.nameprof {
    display: flex;
}

.maindesc {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.descdiv > p {
    font-family: var(--font-fam);
    font-size: 14px;
    margin-left: 5px;
    color: #4B80B3;
    font-weight: 200;
}

#longdesc {
    color: black;
    font-weight: 400;
}

.photodiv {
    display: flex;
    justify-content: space-between;
}

.photodivmain {
    width: 35%;
}

.ph2 {
    margin-top: 3rem;
}

.image-wrap2 {
    width: 200px !important;
    height: 130px !important;
}

.image-wrap1 {
    width: 130px !important;
    height: 130px !important;
}

.image-wrap1 > .file-upload-input {
    width: 130px !important;
    height: 130px !important;
}

.image-wrap2 > .file-upload-input {
    width: 200px !important;
    height: 130px !important;
}

.image-wrap1 > .drag-text {
    margin-top: 40px !important;
}

.image-wrap2 > .drag-text {
    margin-top: 40px !important;
}

.comments {
    width: 50%;
    display: flow-root;
}

.leavecomment {
    width: 50%;
}

.commentTextArea {
    height: 9rem;
}

.comments > p {
    font-family: var(--font-fam);
    font-size: 20px;
    color: var(--primary-blue);
    font-weight: 600;
}

#sendbtn {
    width: 35% !important;
}

.comtext {
    font-size: 14px;
    font-family: var(--font-fam);
    font-weight: 400;
    margin-left: 60px;
    margin-top: 5px;
}

.reply {
    font-family: 'SF Pro Text';
    color: #CCCCCC;
    font-size: 400;
    font-size: 14px;
    margin-left: 4rem;
}

.replycom {
    margin-left: 4rem;
}

.aboutus {
    margin: 2rem auto;
    width: 80%;

}

.aboutus > .title {
    color: var(--primary-blue) !important;
}

.aboutus > div {
    display: flex;
    justify-content: space-between;
}

.aboutdescwrap {
    width: 90%;
    margin: 0 auto;
}

.aboutdesc {
    font-size: 14px;
    font-family: var(--font-fam);
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
}

.aboutdescwrap > p {
    width: 50%;
}

.aboutusmore {
    width: 90%;
    margin: 0 auto;
}

.aboutusmore > div {
    width: 30%;
    text-align: center;
}

.aboutitem {
    width: 30%;
    text-align: center;
}

.aboutusmore > div > .aboutdesc {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.aboutitem > .aboutdesc {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.aboutitem > .title {
    color: var(--primary-blue) !important;
}

.aboutusmore > div > .title {
    color: var(--primary-blue) !important;
}

.aboutslider {
    display: none !important;
}

.news {
    display: none;
    justify-content: space-between;
    margin-top: 1rem;
    text-align: center;
}

.news > div {

    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 1.5rem;
}

.mainprof > .more {
    margin: 3rem auto;
    text-align: center;
}

#loadMore {
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

@media (max-width: 1024px) {
    .mainadvt {
        width: 75%;
    }

    .langwrap {
        width: min-content;
    }

    .successForm {
        width: 40%;
    }

    .uploaded {
        width: 80%;
    }

    .photodivmain {
        width: 40%;
    }

    .descdiv {
        padding: 2rem 2rem;
    }

    .mainprof {
        width: 90%;
    }

    .aboutus {
        width: 90%;
    }

    .news > div > .title {
        font-size: 16px !important;
    }

    .news > div > img {
        width: 250px;
    }

}

@media (max-width: 894px) {
    .container2 {
        padding: 3rem 2rem;
    }

    .topnav {
        background-color: #1D1D1F;
        display: block;
        position: absolute;
        margin-left: -30rem;
        transition: 1s;
        top: 0;
        width: 60%;
        text-align: center;
        padding: 1rem 1.5rem;
        padding-bottom: 4rem;
        z-index: 999;
    }

    .responsive {
        background-color: #1D1D1F;
        display: block;
        position: absolute;
        top: 0;
        margin-left: 0rem;
        transition: 1s;
        z-index: 999;
    }

    .distancemain > img {
        display: block;
    }

    .mobmenu > img {
        padding: 2px;
    }

    .formtext {
        font-size: 10px !important;
    }

    .mobmenu {
        display: grid;
        width: 15%;
    }

    .mobmenu > img {
        padding: 2px;
    }

    .header > ul {
        display: none;
    }

    .dropAc {
        padding: 9px 40px !important;
        width: max-content;
        margin: 0 auto;
        float: none !important;
    }

    .dropAc > .dropbtn {
        margin: 0 !important;
        font-size: 10px;
    }

    .dropAc > .dropdown-content {
        opacity: 100%;
        margin-top: 8px;
    }

    #signup {
        font-size: 10px;
        padding: 10px 23px;
    }

    #signin {
        font-size: 10px;
    }

    .signupform {
        width: 85%;
        padding: 1rem 1rem;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    #signupform {
        font-size: 10px;
        font-weight: 100;
    }

    ::placeholder {
        font-size: 10px;
    }

    .accept > a {
        font-size: 10px;
    }

    .successForm {
        width: 100%;
        padding: 0;
    }

    .successForm > p {
        font-size: 20px;
    }

    .mainprof {
        width: 90%;
    }

    .divdrop {
        padding: 1.5rem 1rem;
        padding-bottom: 8rem;
    }

    .divdrop > div {
        width: 100%;
    }

    .title {
        font-size: 15px !important;
        margin-top: 0px;
    }

    .advt {
        padding: 1rem 1rem;
    }

    .advt > div > p {
        font-size: 10px;

    }

    .containercheck {
        font-size: 10px;
        width: 70px;
    }

    .advtbtn {
        font-size: 10px;
    }

    .desc {
        width: 59%;
    }

    #im1 {
        display: none;
    }

    #im2 {
        display: block;
    }

    #d1 {
        display: none;
    }

    #d2 {
        float: right;
        margin-top: 18px;
        padding: 10px 18px;
        display: block;
    }

    #p1 {
        margin-top: 70px;
    }

    .btnwrap {
        padding-top: 1.3rem;
    }

    .footerContent {
        display: block;
        text-align: left;
        margin-left: 2rem;
    }

    .footerContent > p {
        font-size: 10px !important;
    }

    .contacts > p {
        display: none;
    }

    .contacts > div > p {
        font-size: 10px;
        font-weight: lighter;
    }

    footer > p {
        font-size: 10px;
    }

    .namedesc {
        display: block;
    }

    .maindesc {
        display: block;
    }

    .descdiv {
        width: auto;
        padding: 2rem 1rem;
    }

    .desctitle {
        font-size: 20px !important;
    }

    .descdiv > p {
        font-size: 10px;
    }

    .descdiv > .namedesc > p {
        font-size: 10px;
    }

    .descdiv > .namedesc > p > span {
        font-size: 10px;
    }

    .photodivmain {
        width: auto;
        margin-top: 2rem;
    }

    .image-wrap2 {
        width: 190px !important;
        height: 120px !important;
    }

    .image-wrap1 {
        width: 120px !important;
        height: 120px !important;
    }

    .ph2 {
        margin-top: 1rem;
    }

    .comments {
        width: auto;
    }

    .leavecomment {
        width: auto;
    }

    .descbtnwrap {
        width: auto;
    }

    .aboutus > div {
        display: block;
    }

    .aboutdescwrap > p {
        width: auto;
    }

    .aboutdescwrap > img {
        width: 100%;
    }

    .aboutusmore > div {
        width: 100%;
    }

    .news > div {
        margin-top: 1rem;
    }

    .button2 {
        font-size: 10px;
        font-weight: 100;
        padding: 10px 30px;
    }

    .news > div > img {
        width: auto;
    }

    .aboutusmore {
        display: none !important;
    }

    .aboutslider {
        display: block !important;
    }

    .aboutitem {
        margin: 2rem auto;
        width: 50%;
    }

    .aboutdesc {
        width: auto !important;
    }

    .carousel-control-next-icon {
        background-image: url(img/chevron-right.svg) !important;
    }

    .carousel-control-prev-icon {
        background-image: url(img/chevron-left.svg) !important;
    }
}

:root {
    --primary-blue: #4B80B3;
    --primary-dark: #1D1D1F;
    --rad: 5px;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'SF Pro Text';
    --height: 2.5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}