@import "../bootstrap/css/bootstrap.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Text', sans-serif;
}

input[type="file"] {
    height: 40px !important;
    font-size: 17.3px;
}

textarea {
    min-height: 300px !important;
}

.navbar {
    margin-bottom: 0;
}

.header {
    background-color: #1D1D1F;
    justify-content: space-between;
    display: flex;
    vertical-align: auto;
    text-align: center;
    align-items: center;

}

.header > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 20%;
    margin-left: -3rem;
    margin: 0;
}

.header ul li a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

#signin {
    padding: 10px 60px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

#signup {
    color: white;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.langwrap {
    width: 20%;
}

.langwrap select {
    width: 26%;
    background-color: transparent;
    border: transparent;
    color: white;
    background-image: none;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
}

.langwrap select option p {
    font-size: 10px;
}

.langwrap select:focus {
    box-shadow: none;
}

.langwrap > .language {
    margin-top: 5px;
    float: right;
}

.searcher {
    background-size: auto 100%;
    overflow: auto;
    height: 580px;
    width: auto;
    text-align: center;
}

.searcher > .mainSearcher {
    border-radius: 5px;
    background-color: #1D1D1F;
    opacity: 80%;
    width: 55%;
    margin-top: 300px;
    padding: 65px 95px;
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#searchform {
    overflow: hidden;
    position: relative;
    background: var(--color-brand);
    border-radius: var(--rad);
    opacity: 100%;
    margin: 0 auto;
}

.parameters {
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 2px;
}

.parameters select {
    width: 180px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #FFFFFF;
}

.parameters label {
    color: #FFFFFF;
}

#searchform > input,
button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1rem;
}

#searchform > input[type=search] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    color: #B1B1B1;
}

input {
    border: none;
}

input:focus, textarea:focus {
    border: 1px solid #4B80B3;
    outline-offset: 0px;
    outline: none;
}

.containercheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containercheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    margin-left: 7px;
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.containercheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containercheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containercheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containercheck .checkmark:after {
    left: 3px;
    top: 3px;
    width: 5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containercheck {
    color: white;
    font-weight: 100;
    font-size: 14px;
    width: 100px;
    justify-content: space-between;
    display: flex;
}

.checkcon {
    width: min-content;
    float: left;
    display: flex;
}

.distance {
    text-align: center;
    padding: 3rem 8rem;
}

.distance > h1 {
    color: var(--primary-dark);
    font-weight: 600;
    font-size: 30px;
}

.distancemain {
    display: flex;
}

.distancemain > img {
    display: none;
}

.distanceprim {
    width: 47%;
}

.from > #A {
    background-color: var(--primary-blue);
    width: 59px;
    height: 59px;
    border: 1px solid var(--primary-blue);
    border-radius: 50%;
    text-align: center;
    margin-top: 5px;
}

.from > #A > h1 {
    color: white;
    margin: 10px auto;
    font-weight: 500;

}

.from > #B {
    background-color: var(--primary-dark);
    width: 59px;
    height: 59px;
    border: 1px solid var(--primary-dark);
    border-radius: 50%;
    text-align: center;
    margin-top: 5px;
}

.from > #B > h1 {
    color: white;
    margin: 10px auto;
    font-weight: 500;

}

#findbtn {
    color: white;
    padding: 10px 60px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
}

.from {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

input[type=text], select {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0.8rem 1rem;
    padding-right: 0rem;
    font-size: 14px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    border-radius: 4px;
    color: #000000;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}

::placeholder {
    color: #B1B1B1;
    font-size: 400;
    font-size: 14px;
    margin: 0 auto;
    margin-left: 0.8rem;
}

.from > form > label {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.from > form {
    width: 75%;
    margin-left: 2rem;
    text-align: left;
}

.calcmain {
    margin-top: 2.9rem;
    margin-left: auto;
    width: 40%;
}

.calc {
    padding: 0.8rem 50%;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    text-align: center;
}

.sec {
    margin-top: 3.3rem;
}

.calc > p {
    color: var(--primary-dark);
    font-size: 14px;
    padding: 0;
    margin: 3px auto;
    font-weight: 400;
    width: max-content;
}

#calcbtn {
    color: white;
    padding: 10px 35px;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
    float: right;
    margin-top: 1rem;
}

.mobile {
    background-color: var(--primary-blue);
    align-items: center;
    text-align: center;
}

.mobile > h1 {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.mobile > p {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.mobile > img {
    margin-top: 2rem;
}

.review {
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
}

.review > h1 {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.reviewWrap {
    width: 37%;
}

#revForm {
    height: 140px;
}

.reviews {
    text-align: center;
}

.reviews > h1 {
    color: var(--primary-dark);
    font-size: 30px;
    font-weight: 600;
}

.slide {
    margin-top: 5rem;
}

.carousel-control-prev {
    top: 40% !important;
    width: 5% !important;
}

.carousel-control-prev-icon {
    background-image: url("img/chevron-left.svg") !important;
}

.carousel-control-next {
    top: 40% !important;
    width: 5% !important;
}

.carousel-control-next-icon {
    background-image: url("img/chevron-right.svg") !important;
}

.slideritem {
    position: relative;
    background-color: var(--primary-blue);
    padding: 3rem 7rem;
    width: 70% !important;
    margin: 0 auto !important;
    border-radius: 5px;
}

.slideritem > img {
    margin-top: -2.5rem;
}

.carousel-inner {
    overflow: visible !important;
    margin: 0 auto !important;
}

.name {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    font-family: var(--font-fam);
}

.date {
    font-size: 10px;
    font-weight: 400;
    color: white;
    font-family: var(--font-fam);
    margin-top: -1rem;
}

.reviewtext {
    font-size: 14px;
    color: white;
    font-weight: 400;
    font-family: var(--font-fam);
    line-height: 22.4px;
}

#pic {
    position: absolute;
    top: -3rem;
    left: calc(50% - 45px);
    margin: 0 !important;
}

#rightco {
    position: absolute;
    right: 3rem;
}

#leftco {
    top: 3rem;
    left: 3rem;
    position: absolute;
}

#leftco2 {
    display: none;
    top: 3rem;
    left: 3rem;
    position: absolute;
}

#rightco2 {
    display: none;
    position: absolute;
    right: 3rem;
}

footer {
    background-color: var(--primary-dark);
    text-align: center;
}

footer > p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 2rem;
}

.footerContent {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

footer > hr {
    height: 0px;
    border: none;
    border-top: 1px solid white;
    margin-top: 2rem;
}

.contacts > div {
    display: flex;
}

.contacts > p {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.contacts > div > p {
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin-left: 5px;
}

footer > .footerContent > a {
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
}

.topnav {
    display: none;
}

.topnav > .logo {
    width: -webkit-fill-available;
}

.topnav > .logo > img {
    float: right;
}

.topnav > a {
    display: inline-block;
}

.topnav > #signup {
    margin-top: 1rem;
}

.topnav > hr {
    height: 0px;
    border: none;
    border-top: 1px solid white;
    margin-top: 3.2rem;
}

.topnav > ul {
    list-style-type: none;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    margin-top: 2rem;
}

.topnav > ul > li {
    text-align: left;
    color: white;
    font-size: 10px;
    font-weight: 400px;
    padding-bottom: 1rem;
}

.mobmenu {
    display: none;
}

.mainadvt {
    width: 60% !important;
}

.visible {
    display: block !important;
}

.unvisible {
    display: none !important;
}

.advt {
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.advt > div > p {
    color: #4B80B3;
    font-family: var(--font-fam);
    font-size: 14px;
}

.advt > div > p > span {
    color: black;
    margin-left: 5px;
}

.advtbtn {
    padding: 10px 10px;
    border: 1px solid #4B80B3;
    border-radius: 5px;
    color: black;
    font-family: var(--font-fam);
    font-size: 14px;
    font-weight: 500;
}

.btnwrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.desc {
    width: 55%;
}

#d1 {
    padding: 10px 18px;
}

#d2 {
    display: none;
}

#im2 {
    display: none;
}

#signupform {
    margin-top: 1.2rem;
    color: white;
    padding: 10px 10px;
    width: webkit-fit-available;
    text-align: center;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.mainprof {
    margin: 0 auto;
    width: 80%;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.mainprof > p {
    font-size: 20px;
    font-family: var(--font-fam);
    font-weight: 700;
}

.successForm {
    align-items: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 5px;
    padding: 1rem 4rem;
    margin-top: 8rem;
    padding-bottom: 4.5rem;
    margin-bottom: 7rem;
    text-align: center;
}

.changed {
    padding: 1rem 5rem;
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 1rem;
}

.successForm > p {
    font-family: var(--font-fam);
    font-weight: 500;
    font-size: 30px;
}

.goBack {
    width: 70%;
    margin: 1.2rem auto;
}

.successForm > img {
    margin: 0 auto;
}

.btn-primary {
    background: #4B80B3 !important;
    color: white !important;
    text-transform: uppercase;
    border-color: #4B80B3 !important;
}

.btn-secondary {
    background: #475069 !important;
    color: white;
    text-transform: uppercase;
}

.btn-danger {
    background: #b34b4d !important;
    color: white;
    text-transform: uppercase;
}

.btn-outline-primary {
    border-color: #4B80B3 !important;
    color: #4B80B3 !important;
}

.btn-outline-primary:hover {
    background-color: #4B80B3 !important;
    color: #ffffff !important;
}

.btn-outline-warning {
    border-color: #b3b14b !important;
    color: #b3b14b !important;
}

.btn-outline-warning:hover {
    background-color: #b3b14b !important;
    color: #ffffff !important;
}

.btn-outline-danger {
    border-color: #b34b4d !important;
    color: #b34b4d !important;
}

.btn-outline-danger:hover {
    background-color: #b34b4d !important;
    color: #ffffff !important;
}

.posts {

}

.posts h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #1D1D1F;
    margin-bottom: 35px;
}

.posts .post {
    box-shadow: 0 0 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 40px 30px;
    margin-bottom: 15px;
    width: 800px;
}

.posts .post ._left {
    width: 60%;
}

.posts .post .btn-more {
    width: 380px;
    height: 40px;
}

.posts .post ._right {
    width: 40%;
}

.posts .post ._right img {
    max-width: 220px;
    height: auto;
}

.posts .post .post-title {
    font-style: normal;
    font-size: 20px;
    color: #1D1D1F;
}

.posts .post p {
    font-style: normal;
    font-size: 14px;
    color: #4B80B3;
}

.posts .post p span {
    color: #000000;
}

.posts .post {
    box-shadow: 0 0 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 40px 30px;
}

.posts .post .post-image img {
    width: 100%;
    height: auto;
}

.register, .create-post {
    width: 500px;
    padding: 30px 60px 60px;
    box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register label.transporter {
    font-style: normal;
    font-weight: normal;
    color: #FF0000;
}

.register label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1D1D1F;
    margin-bottom: 0;
}

.register input, select {
    width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 5px !important;
}

.register input.terms, input.transporter, input.remember {
    width: 20px;
    height: 20px;
    margin-right: 10px
}

.register input.signup {
    width: 100%;
    height: 40px;
    font-style: normal;
    font-weight: 6 а00;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.register input.signin {
    width: 100%;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.buttons .accordion-button {
    width: max-content;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.add-post {
    width: 180px !important;
    padding: 10px !important;
    height: 40px !important;
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #FFFFFF;
}

.buttons .accordion-button::after {
    margin-left: 10px !important;
}

.buttons .accordion-button:not(.collapsed)::after {
    margin-left: 10px;
}

.buttons .accordion-item {
    background: transparent !important;
}

.buttons .accordion-button {
    background: transparent !important;
    color: #FFFFFF !important;
    border: 1px solid #4B80B3 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.buttons .accordion-button:focus {
    box-shadow: none !important;
}

.buttons .accordion-body {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}

.buttons .accordion-body a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #1D1D1F;
    margin-bottom: 20px;
    text-decoration: none;
}

.buttons .accordion-body a:last-child {
    margin-bottom: 0;
}

.buttons .accordion-body a:hover {
    text-shadow: 0 4px 4px rgba(0, 102, 255, 0.25);
}

.profile-edit .page-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #1D1D1F;
    margin-bottom: 22px;
}

.profile-edit .accordion-button {
    height: 80px;
}

.profile-edit .accordion-body {
    padding-top: 30px;
    padding-left: 65px;
    padding-bottom: 30px;
}

.profile-edit .accordion-item {
    margin-bottom: 15px;
}

.profile-edit .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.profile-edit .fullname {
    font-size: 2.5rem;
}

.profile-edit input {
    height: 38px;
}

.btn-outline-info:hover {
    color: #FFFFFF !important;
}

.detailed-post p {
    margin-bottom: 0;
}

.detailed-post p.fullname {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1F;
}

.detailed-post p.phone-number, p.email {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4B80B3;
}

.detailed-post p.phone-number a, p.email a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1F;
}

.detailed-post .left {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 40px;
    width: 58%;
}

.detailed-post .left .title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #4B80B3;
}

.detailed-post .left .description {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #4B80B3;
}

.detailed-post .left .description span {
    font-weight: normal;
    color: #1D1D1F;
}

.detailed-post .left a.update, button.delete {
    width: 160px;
    height: 40px;
}

.detailed-post .left a.transport-type, a.city {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4B80B3;
    border-radius: 5px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1F;
    padding: 12px 48px;
}

.detailed-post .left a.transport-type:hover, a.city:hover {
    color: #1D1D1F;
}

.detailed-post .left .info p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4B80B3;
}

.detailed-post .left .info p span {
    color: #1D1D1F;
}

.detailed-post .right {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(11, 11, 77, 0.15);
    border-radius: 5px;
    padding: 40px;
    width: 40%;
}

.detailed-post .right img {
    width: 100%;
    height: auto;
}

.detailed-post .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.detailed-post .comment {
    width: 50%;
}

.detailed-post .comment a.send {
    width: 160px;
    height: 40px;
    margin-top: 20px;
}

.detailed-post .comment textarea {
    min-height: 175px;
    max-height: 200px;
}

.detailed-post .comment p.comment {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #4B80B3;
    margin-bottom: 20px;
}

.detailed-post p.comment-name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1F;
}


.detailed-post p.comment-message {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.page-link {
    color: #4B80B3 !important;
}

.page-item.active .page-link {
    background-color: #4B80B3 !important;
    border-color: #4B80B3 !important;
    color: #ffffff !important
}

.form-switch input {
    width: 50px !important;
    height: 25px !important;
}

.form-switch label {
    margin-left: 10px;
    margin-top: 5px;
}

.green-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.red-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.create-post .form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.create-post .form-check-input {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.navbar-brand {
    margin-right: 100px !important;
}

@media (max-width: 1024px) {

    .langwrap {
        width: max-content;
    }

    .langwrap select {
        width: 100%;
    }

    .searcher > .mainSearcher {
        width: 70%;
    }

    .mainadvt {
        width: 75%;
    }
}

@media (max-width: 894px) {

    .detailed-post .left a.transport-type, a.city {
        padding: 12px 24px;
    }

    .register, .create-post {
        padding: 20px 15px;
    }

    .navbar-brand {
        margin-right: 0 !important;
    }

    .flag {
        width: 100%;
    }

    .topnav {
        background-color: #1D1D1F;
        display: block;
        position: absolute;
        margin-left: -30rem;
        transition: 1s;
        top: 0;
        width: 60%;
        text-align: center;
        padding: 1rem 1.5rem;
        padding-bottom: 4rem;
        z-index: 999;
    }

    .responsive {
        background-color: #1D1D1F;
        display: block;
        position: absolute;
        top: 0;
        margin-left: 0rem;
        transition: 1s;
        z-index: 999;
    }

    .distancemain > img {
        display: block;
    }

    .mobmenu {
        display: grid;
        width: 15%;
    }

    .mobmenu > img {
        padding: 2px;
    }

    .header > ul {
        display: none;
    }

    #signup {
        font-size: 10px;
        padding: 10px 23px;
    }

    #signin {
        font-size: 10px;
    }

    .searcher {
        background-position-x: 38%;
    }

    .searcher > .mainSearcher {
        width: 100%;
        padding: 2rem 1.2rem;
        padding-bottom: 0px;
    }

    .parametres {
        margin-top: 1rem !important;
        width: 100%;
        display: table;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown > .dropbtn {
        float: left;
        font-size: 10px;
        font-weight: 500;
        margin-left: -6px;
    }

    .dropdown-content {
        margin-top: 2rem;
    }

    .dropdown-content a {
        font-size: 10px;
        padding: 7px 10px;
    }

    .containercheck {
        font-size: 10px;
        font-weight: 500;
        width: 80px;
    }

    .checkcon {
        margin-top: 1rem;
        width: 100%;
    }

    #findbtn {
        margin-left: auto;
        font-size: 10px;
    }

    .distance {
        padding: 3rem 1rem;;
    }

    .distancemain {
        display: block;
    }

    .from > form {
        width: 83%;
    }

    .distance > h1 {
        font-size: 20px;
    }

    .from > form > label {
        font-size: 10px;
    }

    .distanceprim {
        width: 100%;
        padding-bottom: 4rem;
    }

    .mobile > h1 {
        font-size: 20px;
    }

    .mobile > p {
        font-size: 10px;
        font-weight: 100;
    }

    .review {
        text-align: center;
        display: block;
    }

    .review > h1 {
        font-size: 20px;
    }

    .reviewWrap {
        width: 100%;
        padding-bottom: 4rem;
    }

    ::placeholder {
        font-size: 10px;
    }

    #calcbtn {
        font-size: 10px;
        margin-right: 0rem;
    }

    .calcmain {
        margin-top: 0.5rem;
        width: 70%;
    }

    .distancemain > img {
        margin-top: 1.4rem;
        float: left;
    }

    .slideritem {
        width: 100% !important;
        padding: 3rem 1rem;
    }

    .reviewtext {
        font-size: 10px;
        font-weight: 100;
    }

    #leftco2 {
        display: block;
        top: 8rem;
        left: 1rem;
        position: absolute;
    }

    #rightco2 {
        display: block;
        position: absolute;
        right: 1rem;
        margin-top: 0rem;
    }

    #rightco {
        display: none;
    }

    #leftco {
        display: none;
    }

    .footerContent {
        display: block;
        text-align: left;
        margin-left: 2rem;
    }

    .footerContent > p {
        font-size: 10px !important;
    }

    .contacts > p {
        display: none;
    }

    .contacts > div > p {
        font-size: 10px;
        font-weight: lighter;
    }

    footer > p {
        font-size: 10px;
    }

    #im1 {
        display: none;
    }

    #im2 {
        display: block;
    }

    .mainprof {
        width: 90% !important;
    }

    .advt {
        padding: 1rem 1rem;
    }

    .advt > div > p {
        font-size: 10px;

    }

    .containercheck {
        font-size: 10px;
        width: 70px;
    }

    .advtbtn {
        font-size: 10px;
    }

    .carousel-control-prev {
        left: -1.5rem;
    }

    .carousel-control-next {
        right: -1.5rem;
    }

    .profile-edit .accordion-body {
        padding-left: 1.25rem;
    }

    .detailed-post .left {
        width: 100%;
        padding: 20px;
    }

    .detailed-post .right {
        width: 100%;
        padding: 20px;
    }

    .detailed-post .right img {
        width: 100%;
        height: auto;
    }

    .detailed-post .comment {
        width: 100%;
    }

    .posts .post ._left {
        width: 100%;
    }

    .posts .post {
        width: 100%;
    }

    .posts .post .post-image img {
        width: 100%;
    }

    .parameters {
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .register, .create-post {
        width: 100%;
    }
}

:root {
    --primary-blue: #4B80B3;
    --primary-dark: #1D1D1F;
    --rad: 5px;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 2.5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
